@inherits LayoutComponentBase

<PageTitle>BlazorServerBase</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <BSLink Url="https://github.com/CFPAOrg/Minecraft-Mod-Language-Package/" target="_blank">About</BSLink>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
