<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Azusa</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="SubmitAssistant">
                <span class="oi oi-plus" aria-hidden="true"></span> 快速翻译文件上传
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="PRList">
                <span class="oi oi-plus" aria-hidden="true"></span> PR 列表
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Diff">
                <span class="oi oi-plus" aria-hidden="true"></span> Diff
            </NavLink>
        </div>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="ModList">
                                <span class="oi oi-plus" aria-hidden="true"></span> 主库模组列表
                            </NavLink>
                        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
